@import "../../index.scss";

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 34px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  & .search-field {
    margin-right: auto;
  }

  & .right {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      width: auto;
    }
  }
}
